header {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav > a {
    margin: 30px;
    padding-right: 100px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #0A1222;
}

ul button {
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}